
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image:  url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-jplenio-1118873.jpg&fm=jpg");
        }
        .container {
            background: transparent;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        input {
            padding: 10px;
            border: none;
            border-radius: 8px;
            width: 80%;
            margin-bottom: 10px;
        }
        button {
            padding: 10px 15px;
            border: none;
            border-radius: 8px;
            background: #ff7eb3;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background: #ff5277;
        }
        .weather-info {
            margin-top: 20px;
        }

